<title>Create new book</title>
<h1>Create new book</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul>
                    {% for message in messages %}
 	<li>{{ message[1] }}</li>
{% endfor %}</ul>
{% endif %}
{% endwith %}
{% if errors %}
<p>{{ errors }}</p>
{% endif %}
<form action="" method="post">
            {{ form.csrf }}
<div class="input text">
                {{ form.file.label }} {{ form.file }}</div>
<div class="input text">
                {{ form.password.label }} {{ form.password }}</div>
<div class="input submit">
                <input type="submit" value="Submit"></div>
</form>